# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
JobOfferHunter.iml
src/main/java/com/gus/jobofferhunter/data/
src/main/java/com/gus/jobofferhunter/repository/JobOfferRepository.java
target/
